################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EarTube/bin/Debug/netcoreapp3.1
/EarTube/obj
/.vs/EarTube
/EarTube/wwwroot/songs
