@model EarTube.Areas.Identity.Data.ApplicationUser

<a asp-route="getUserAccount" asp-route-accountUserId="@((Model == null) ? "null" : Model.Id)">
    <img src="@(string.IsNullOrEmpty(Model?.UserImageUrl) ? "/images/Avatar.png" : Model.UserImageUrl)" style="border-radius:50%; width: 36px; height: 36px;" class="img-fluid border-0" />
</a>