@model IEnumerable<SongModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h3 class="display-4">All Songs</h3>
        <div class="row">

            @foreach (var song in Model)
            {
                <div class="col-md-4">
                    <partial name="_songThumbnail" model="@song" />
                </div>
            }

        </div>
    </div>

