@model IEnumerable<SongModel>
@{
    ViewData["Title"] = "GetSongByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3 class="h5 text-uppercase">My Songs</h3>
    <br />


    <div class="row">
        @*<p>@Model.User.FirstName</p>*@
        @if (Model.Count() >= 1)
        {
            foreach (var song in Model)
            {
                <div class="col-md-4">
                    <partial name="_songThumbnail" model="@song" />
                </div>
            }
        }
        else
        {
            <p>No songs</p>
        }
    </div>
</div>

